.main-page-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color:white;
}
body {
  background-image: url("smartphone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-text-container {
  text-align: center;
  display:none;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin:256px auto;
}
#main-text-title {
  font-size:13rem;
  font-family: 'Droid Serif', serif;
  font-weight:700;

}
#main-text-description {
  font-family: 'Droid Serif', serif;
  font-size:3rem;
}
.sign-up-container {
  background-color: #333;
  color:white;
  border:1px solid #101010;
  height: 80vh;
  width:60vw;
  margin:10rem auto;
  display:none;
}
#sign-up-form {
  margin:4rem;
}
.main-account-panel {
  background-color: #333;
  color:white;
  border:1px solid #101010;
  height: auto;
  width:60vw;
  margin:10rem auto;
  text-align: center;
}
#panel-buttons-container {
  display:flex;
  flex-flow: column;
  justify-content: space-around;
}
#create-new-message-button, #view-pending-button, #contacts-button, #logout-button{
  margin:2rem;
}
#logout-button{
  width:11rem;
}
