.main-page-container {
  color:white;
}

.main-page-container, .main-text-container, #panel-buttons-container {
  display: flex;
  align-items: center;
  flex-flow: column;
}
body {
  background-image: url("smartphone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-text-container, .main-page-container {
  justify-content: center;
}
.main-text-container, .main-account-panel, .new-message-container, .contact-page-container, .pending-message-container {
  text-align: center;
}
.main-text-container{
  margin:256px auto;
}
#main-text-title, #main-text-description {
    font-family: 'Droid Serif', serif;
}
#main-text-title {
  font-size:13rem;
  font-weight:700;
}
#main-text-description {
  font-size:3rem;
}
.sign-up-container, .main-account-panel, #inline-contact-add-form, .new-message-container, .contact-page-container, .pending-message-container, .ui-datepicker,  {
  display: none;
}
.sign-up-container {
  background-color: #333;
  color:white;
  border:1px solid #101010;
  height: 80vh;
  width:60vw;
  margin:10rem auto;
}
#sign-up-form {
  margin:4rem;
}
.main-account-panel {
  background-color: #333;
  color:white;
  border:1px solid #101010;
  height: auto;
  width:30vw;
  margin:10rem auto;
}
#panel-buttons-container {
  justify-content: space-around;
}
#create-new-message-button, #view-pending-button, #contacts-button, #logout-button{
  margin:3rem;
  width:20rem;
}

#inline-contact-add-form {
  z-index:4;
  margin-top:9rem;
  background:rgba(49,79,79, 0.9);
  border:2px solid white;
  position:absolute;
  margin:9rem 40vw;
  color:white;
  box-shadow:3px 3px 2px black;
}
.new-message-container {
  background-color: #333;
  color:white;
  border:1px solid #101010;
  height: auto;
  width:60vw;
  margin:10rem auto;
}
#new-message-form, #add-contact-form {
  margin:2rem;
}
.contact-page-container, .pending-message-container {
  background-color: #333;
  color:white;
  border:1px solid #101010;
  height: auto;
  width:60vw;
  margin:10rem auto;
}
.ui-datepicker {
	background-color: #fff;
	border: 1px solid #66AFE9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
#brand:hover {
  cursor:pointer;
}
#datepicker, #new-message-time  {
  color:black;
}
